In [3]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.DataFrame({
    'a': [1, 1, 1, 1, 1, 1],
    'x': [1, 1, 1, 2, 2, 2],
    'w': [1, 1, 1, 1, 1, 1],
})

df2 = pd.DataFrame({
    'a': [1, 1, 1, 1, 1, 1],
    'x': [1, 1, 2, 2, 2, 2],
    'w': [2, 2, 1, 1, 1, 1],
})

In [5]:
df1

   a  x  w
0  1  1  1
1  1  1  1
2  1  1  1
3  1  2  1
4  1  2  1
5  1  2  1

In [6]:
df2

   a  x  w
0  1  1  2
1  1  1  2
2  1  2  1
3  1  2  1
4  1  2  1
5  1  2  1

In [7]:
w = df1['w']

def weighted_mean(x): 
    return np.average(x, weights=w.loc[x.index])

df1.groupby('a').agg({'x': weighted_mean})

     x
a
1  1.5

In [8]:
w = df2['w']

def weighted_mean(x): 
    return np.average(x, weights=w.loc[x.index])

df2.groupby('a').agg({'x': weighted_mean})

     x
a
1  1.5

In [9]:
def weighted_median(df, val, weight):
    df_sorted = df.sort_values(val)
    cumsum = df_sorted[weight].cumsum()
    cutoff = df_sorted[weight].sum() / 2.
    return df_sorted[cumsum >= cutoff][val].iloc[0]

In [10]:
df1 = pd.DataFrame({
    'a': [1, 1, 1, 1, 1, 1],
    'x': [1, 2, 3, 4, 1, 2],
    'w': [2000, 2, 1, 1, 1, 1],
})
x = df1['x']
w = df1['w']

In [11]:
def weighted_median(x, w):
    x_sorted = x[np.argsort(x)]
    w_sorted = w[np.argsort(x)]
    cumsum = w_sorted.cumsum() / w_sorted.sum()
    return np.interp(0.5, cumsum, x_sorted)

In [12]:
weighted_median(df1['x'], df1['w'])

1.0

In [15]:
x_sorted = x[np.argsort(x)]
w_sorted = w[np.argsort(x)]
cumsum = w_sorted.cumsum() / w_sorted.sum()

pd.DataFrame({
    'x_sorted': x_sorted,
    'cumsum': cumsum,
})

   x_sorted    cumsum
0         1  0.997009
4         1  0.997507
1         2  0.998504
5         2  0.999003
2         3  0.999501
3         4  1.000000

In [16]:
np.interp(0.5, cumsum, x_sorted)

1.0